<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Chat :)</title>
</head>
<body>
<div id="messageArea"></div>
   <label>Email:</label>
   <input type="text"  id="email" placeholder="Introduce tu nombre">			
   <label>clave:</label>
   <input type="text"  id="clave" placeholder="Introduce tu mensaje">
   <button onclick="sendMessage()">enviar</button>
<script th:inline="javascript">
	let socket = new WebSocket("ws://localhost:8080/chat")
    socket.onmessage = function(event) {
        let messageArea = document.getElementById("messageArea");
        messageArea.innerHTML += '<p>' + event.data + '</p>';
    };
    function sendMessage() {
        let username = document.getElementById("email").value;
        let messageInput = document.getElementById("clave").value;
        let fullMessage = username + "Se conecto" ;
        let clave = "123ABC"
        if(messageInput==clave){
            socket.send( username +"se conecto CORRECTAMENTE");
        }else{
            socket.send( username +"se conecto INCORRECTAMENTE");
        }
        socket.send(fullMessage);
        messageInput.value = '';
    }
</script>
</body>
</html>