<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat</title>
</head>
<body>
   <div id="messageArea"></div>
   <label>Nombre de usuario:</label>
   <input type="text"  id="username" placeholder="Introduce tu nombre">			
   <label>Mensaje:</label>
   <input type="text"  id="messageInput" placeholder="Introduce tu mensaje">
   <button onclick="sendMessage()">enviar</button>
<script th:inline="javascript">
let socket = new WebSocket("ws://localhost:8080//index");

socket.onopen = function(event) {
    console.log("Conexión establecida con el servidor WebSocket.");
};

socket.onmessage = function(event) {
    let messageArea = document.getElementById("messageArea");
    messageArea.innerHTML += '<p>' + event.data + '</p>';
    messageArea.scrollTop = messageArea.scrollHeight;
};

socket.onerror = function(event) {
    console.error("Error de WebSocket: ", event);
};

function sendMessage() {
    let username = document.getElementById("username").value;
    let messageInput = document.getElementById("messageInput").value;
    if (username && messageInput) {
        let fullMessage = username + ": " + messageInput;
        socket.send(fullMessage);  
        document.getElementById("messageInput").value = '';
    } else {
        alert("Por favor, ingrese un nombre de usuario y un mensaje.");
    }
}

 socket.onclose = function(event) {
    console.log("Conexión WebSocket cerrada.");
};
</script>

</body>
</html>